<html>
	<head>
		<title>Query Entities</title>

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<!--javascript file -->
		<script src="script.js"></script>
		<!--Css Styling -->
		<style>
			table {
				font-family: arial, sans-serif;
				border-collapse: collapse;
				width: 50%;
			}
			td, th {
				border: 1px solid #dddddd;
				text-align: left;
				padding: 8px;
			}
			
		</style>
	</head>
	<body>
		<div class="fixedContent">
			<div class="mainnavigationarea">
			</div>
			<br/><br/><br/>
			<div class="top_navplaceholder">
				<div id="top_navigation_area">
					<table style="background-color:powderblue;">
						<thead>
							<tr>
								<td width="20%"><a href="index.html">Home</a></th>
								<td width="20%"><a href="register.html">Register Entity</a></th>
								<td width="20%"><a href="transaction.html">Transaction</a></th>
								<td width="20%"><a href="query.html">Query</a></th>
								<td width="20%"><a href="createTransaction.html">Create Transaction</a></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
		<div ng-app="myApp" ng-controller="myCtrl" class="maincontent">	
		<h3><u>Entity List:</u></h2>
			<div>
				<table>
					<thead>
						<tr>
							<td width="20%" class="columnheader"><b>Entity Name</b></th>
							<td width="20%" class="columnheader"><b>Balance</b></th>
						</tr>
					</thead>	
					<tbody>
						<tr ng-repeat="entity in entities"> 
							<td width="20%">{{entity.entityName}} </td>
							<td width="20%">{{entity.initialBalance}} </td>
						</tr>
					</tbody>
				</table>
			</div>	
		</div>
	</body>
	
</html>	